services:
  selenium-chrome:
    image: selenium/standalone-chrome:120.0
    ports:
      - "4444:4444"
    restart: always

  airflow:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - selenium-chrome
    restart: always
    environment:
      - PYTHONPATH=/opt/airflow/
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEB_SERVER__WEB_SERVER_PORT=8080
      - AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
    volumes:
      - ./dags:/opt/airflow/dags
      - ./plugins:/opt/airflow/plugins
      - ./utils:/opt/airflow/utils
      - ./settings:/opt/airflow/settings
    ports:
      - "8080:8080"
    user: "50000:0"
    command: >
      bash -c "
        airflow db init &&
        airflow webserver &
        airflow scheduler"
    # `depends_on` ensures that selenium-chrome starts before airflow

  airflow-scheduler:
    image: apache/airflow:latest
    restart: always
    environment:
      - PYTHONPATH=/opt/airflow/
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEB_SERVER__WEB_SERVER_PORT=8080
      - AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
    volumes:
      - ./dags:/opt/airflow/dags
      - ./plugins:/opt/airflow/plugins
